# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/
env/
.env/

# Streamlit config and cache
.streamlit/

# IDE files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Kagglehub cache
.cache/

# Local data cache
data/
*.csv
!models/ui_plot_data.csv
*.zip

# Local Model artifacts
# Keep in repository if you want to deploy on Streamlit without retraining, 
# but we ignore heavy raw data files.
